{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">

        <!-- Article List -->

        <div class="col-sm-12 col-md-8">

            <!-- H1 Article -->
            <a class="main-article-link" href="#">
                <div class="main-article mb-5 pb-3">
                    <img src="{{ asset('images/louvre.jpeg') }}" alt="Images du louvre">
                    <h1 class="text-center mt-2">DECOUVREZ NOTRE MUSEE <br>Réservez vos Billets</h1>
                </div>
            </a>
        </div>
    </div>



                    <!-- Form code begins -->
    <div class="bootstrap-iso">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">


                    <form method="post">
                        <div class="form-group"> <!-- Date input -->
                            <label class="control-label" for="date">Date</label>
                            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                        </div>


                        <div class="form-group ">
                            <label class="control-label " for="number">
                                Nombre de places
                            </label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-ticket">
                                    </i>
                                </div>
                                <input class="form-control" id="number" name="number" type="number"/>
                            </div>
                        </div>
                        <div class="form-group"> <!-- Submit button -->
                            <button class="btn btn-primary " name="submit" type="submit">Submit</button>
                        </div>
                    </form>
                    <!-- Form code ends -->

                </div>
            </div>
        </div>
    </div>
                    <!-- Form code ends -->





{% endblock %}