{% extends 'base.html.twig' %}



{% block body %}
<div class="container">
    <div class="row">

        <!-- Article List -->

        <div class="col-sm-12 col-md-8">

            <!-- H1 Article -->
            <a class="main-article-link" href="#">
                <div class="main-article mb-5 pb-3">
                    <img src="{{ asset('images/louvre.jpeg') }}" alt="Images du louvre">
                    <h1 class="text-center mt-2">DECOUVREZ NOTRE MUSEE <br>Réservez vos Billets</h1>
                </div>
            </a>
        </div>
    </div>



                    <!-- Form code begins -->
    <div class="bootstrap-iso">
        <div class="container-fluid">
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>Page de test</p>
    </div>
        </div>
        </div>
    </div>


                    <!-- Form code ends -->





{% endblock %}